body {
    background-color: black; 
    font-family: Helvetica; 
    color: white;
    background-image: url("starbg.jpg");

}

.forum-title {
    font-size: 2em;
    margin: 10px 0;
    text-align: center; 


}

.posts {
    padding: 10px;
    margin: 10px; 
    border: 2px; 

}


.character {
    display: inline-block;

}

.why {
    display: inline-block;
}