body {
    background-color: black; 
    font-family: Helvetica; 
    color: white;
    background-image: url("starbg.jpg");

}

.forum-title {
    font-size: 4em;
    text-align: center; 
    color: #CDA857;
    border-bottom: solid; 

}

.question {
    width: 1185px; 
    height: 50px; 
}


.character {
    text-align: center; 

}

.why {
    text-align: center; 
   
}

.posts {
    border-style: solid;    
    padding: 1px;
    margin: 5% 35%; 
    text-align: center; 
}

a {
    text-decoration: none; 
    font-family: Helvetica; 
    color: #CDA857;
    text-align: center; 
}

#submit{
    background-image: url("starbg.jpg");
    font-weight: bold; 
    font-family: Helvetica; 
    border-style: solid; 
    border-radius: 8px; 
    font-size: 14px; 
    color: #CDA857;
    cursor:pointer;
}

h6 {
    text-align: center; 
    color: white;
}
h5 {
    text-align: center; 
}