<!DOCTYPE html> 

<html> 

    <head> 
        <title> Sarah Fellows </title> 
        <link rel="stylesheet" href="{% static 'css/port_home.css' %}">
    </head> 

    <body> 
        <div class="quote"> 
            <h1> Sarah Lynn Fellows's Portfolio  </p>
        </div>


        <div class="links"> 

            <h2>
                <a href="">Javapic</a>
                <a href="">Forum</a>
                <a href="">Pricelist</a>
            </h2>

        </div> 


    </body> 

</html> 