body {
    width: 80%;
    margin: 0 auto;
    background-image: url("hoodoomtn.jpg");
}

h1, h2 {

    color: #FF1493;
    text-align: center; 

}

div {
    color: #FF1493;
    text-align: center; 
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

ul {
    color: #FF1493; 
    text-align: center; 

}


nav {
   background-color: #fff;
   padding:15px;
   margin: 10px 0;
   border-radius: 2px;
}